
.title {
    -fx-font: bold 28 "System";
}
.header {
    -fx-font: bold 20 "System";
}
#recordingArenaHeader {
    -fx-font: bold 20 "System";
    -fx-text-fill: cadetblue;
}
#recordingArenaLabel {
    -fx-font: bold 64 "System";
}
.timeLabel {
    /* -fx-background-color: rgb(255, 255, 255); */
    -fx-font: 14 "System";
    /* -fx-opacity: 0.75; */
}

#dataTextArea {
    -fx-font: 16 'Monospaced';

}

.button:focused, .table-view:focused, .tree-view:focused, .tree-cell:focused, .tree-table-cell:focused, .tree-item:focused, .text-field:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.button, .increment-arrow-button, .decrement-arrow-button {
    -fx-background-color: linear-gradient(to top, rgb(144, 198, 199), rgb(175, 228, 230));
    -fx-border-radius: 3;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, lightgrey, 10, 0, -1, 1); 
}
.button:hover {
    -fx-background-color: linear-gradient(to top, rgb(130, 179, 180), #a2b8b8)
}

.toggle-button:selected {
    -fx-background-color: linear-gradient(to top, rgb(144, 198, 199), rgb(132, 172, 172))
}

.navButton {
    -fx-background-color: linear-gradient(to top, cadetblue, #7cb6b8b1);
    -fx-font: bold 16 "System";
    -fx-border-radius: 3;
    -fx-border-color: transparent;
}
.navButton:hover {
    -fx-background-color: linear-gradient(to top, rgb(78, 129, 130), #4c8080b1);
}

#finishButton {
    -fx-font: bold 24 "System";
}

.recordingVolumeButton {
    /* -fx-opacity: 0.75; */
    -fx-font: 14 "Font Awesome 6 Free-Solid-900";
}

.menuButton {
    -fx-background-color: linear-gradient(to top, rgb(136, 190, 192), #c3e1e1);
    -fx-effect: none;
}

.menuBar {
    -fx-background-color: linear-gradient(to top, cadetblue, #5f9ea0b1);
    -fx-border-color: transparent;
}

.text-field {
    -fx-border-radius: 3;
    -fx-border-color: rgb(230, 230, 230);
    -fx-effect: dropshadow(gaussian, rgb(230, 230, 230), 10, 0, -1, 1); 
}
/* .textField:invalid {
    -fx-border-color: rgb(180, 0, 0);
    -fx-effect: dropshadow(gaussian, rgb(210, 0, 0), 10, 0, 0, 0);
} */

.column-header {
    -fx-background-color: linear-gradient(to top, rgb(158, 218, 221), #c3e1e1);
}

.scroll-pane {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: rgb(230, 230, 230);
    -fx-effect: dropshadow(gaussian, rgb(230, 230, 230), 10, 0, -1, 1); 
}

.table-view {
    -fx-background-radius: 3; 
    -fx-border-radius: 3;
    -fx-border-color: transparent;
    /* -fx-effect: dropshadow(gaussian, rgb(230, 230, 230), 10, 0, -1, 1);   */
}
.table-row-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.tree-view {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: transparent;
    /* -fx-effect: dropshadow(gaussian, rgb(230, 230, 230), 10, 0, -1, 1);  */
}
.tree-cell:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

.keyBindingTable .table-row-cell:focused, .keyBindingTable .table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-border-color: green;
    -fx-effect: dropshadow(gaussian, lightgreen, 10, 0, 0, 0);
}
.keyBindingTable .table-row-cell:focused .table-cell, .keyBindingTable .table-row-cell:selected .table-cell {
    -fx-text-fill: black;
}

/* recording screen */
#recordingBorderPane {
    -fx-background-color: lightgray;
    -fx-border-color: transparent;
}
#controlVbox {
    -fx-background-color: #f4f4f4;
}
#curArenaVbox {
    -fx-background-color: white;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: rgb(230, 230, 230);
    -fx-effect: dropshadow(gaussian, rgb(230, 230, 230), 10, 0, -1, 1); 
}

.scroll-pane > .viewport {
    -fx-background-color: white;
}
.titled-pane {    
    -fx-text-fill: rgb(78, 129, 130); 
    -fx-background-color: white;
    -fx-border-radius: 3;
}
.titled-pane > .title {
    -fx-font: bold 20 "System";
    -fx-text-fill: rgb(78, 129, 130);
    -fx-background-color: white;
}
.titledPaneVbox {
    -fx-background-color: white;
}
.instructionsText {
    -fx-font: 14 "System";
}
/* because the titledpane situation wasnt working for what i wanted */
#instructionsAboutLabel {
    -fx-font: bold 20 "System";
    -fx-text-fill: rgb(78, 129, 130);
}
